# What is Python?
* Created by Guido van Rossum in 1991
* used in web development,file manipulation, big data handling and many more
* platform independent language

In [ ]:
print("Hello World")
print(2434)
print(23.56)
print("A")
print(True)

Hello World
2434
23.56
A
1

In [ ]:
print('hello',234,23.54,True)
print("Hello World","This is Parnika Sarbahi","from GDSC",sep="!!",end="$$$")
print("first")
print("second")

hello 234 23.54 True
Hello World!!This is Parnika Sarbahi!!from GDSC$$$first
second

In [ ]:
x=5
name,Name="parnika","sarbahi"
print(name,Name)
print(name+Name)
print(name+str(x))

parnika sarbahi
parnikasarbahi
parnika5

# Type Casting
* Implicit Casting
> automatically done by the interpreter
* Explicit Casting
> done by the programmer

In [ ]:
x=5
y=23.53
print(x+y)

In [ ]:
name=input("Enter your name:")
age=int(input("Enter age:"))#
print("Hello",name,"after five years you will be",age+5,"years old")#to show how input function returns string

# Operators

Arithemetic Operators

In [ ]:
x=100
y=2
print(x+y)
print(x-y)
print(x*y)
print(x/y)#division always returns float
print(x%y)#modulas
print(x**y)#exponentiation
print(x//y)#floor devision
print(3//2)

102
98
200
50.0
0
10000
50
1

In [ ]:
import math
print(math.sqrt(16))    # Square root: Output: 4.0
print(math.pow(2, 3))    # Power: Output: 8.0
print(math.ceil(4.2))    # Ceil (round up): Output: 5
print(math.floor(4.9))   # Floor (round down): Output: 4
print(math.fabs(-5))     # Absolute value: Output: 5.0

4.0

Assignment Operator

In [ ]:
x=5
x+=3 #same as x=x+3
x**=3 #x=x**3

Comparison Operators

In [ ]:
x=9
y=8
print(x==y)
print(7==7.0)
print(x!= y)
print(x > y)
print(x < y)
print('a'>'Z')##compares ascii values
print('abc'>'abd')
print(x >= y)
print(x <= y)

False
True
True
True
False
True
False
True
False

Logical Operators

In [ ]:
x=7
print(x<5 and x<10)
print(x>5 or x<4)
print(not(x < 5 and x < 10))

Identity Operators

In [ ]:
x,y=8,9
print(x is y)
print(x is not y)

Membership Operators

In [ ]:
y='This is a string'
x='P'
print(x in y)
print(x not in y)

# Decision Making
> A simple program to check the nature of a number

In [ ]:
n=int(input("Enter a number"))
if(n>0):
    if(n%2==0):
        print("Number is positive and even")
    else:
        print("Number is positive and odd")

elif(n<0):
    if(n%2==0):
        print("Number is negative and even")
    else:
        print("Number is negative and odd")
elif(n==0):
    print("Number is zero")

else:
    print("Invalid input")

Ternery Operaor

In [ ]:
#syntax
#[on_true] if [expression] else [on_false]
print ("Both a and b are equal" if a == b else "a is greater than b"
       if a > b else "b is greater than a")

# Loops
* for loop: set number of times
* while loop: indefinite number of times

In [ ]:
#for loop syntax
#for i in range(start,stop,step):
for i in range (1, 5): # will iterate from i=1 to 4
    print (i, end=' ')
print()
for i in range(5, 1, -1): # 5 to 1 and step value of -1
    print (i, end =' ')
print()
for i in range (1, 5, 2):
    print (i, end=' ')
print()
for i in range ( 5, 1, -2): # reverse loop with step count as -2
    print (i, end=' ')
print()

1 2 3 4

In [ ]:
#while loop syntax
#while(expression):
a="y"
while(a=="y"):
    print("hello")
    a=input("Do you want to print again?[y/n]")

# Control Statements
* break statement: used to terminate the loop or statement in which it is present
* continue statement: forces to execute the next iteration of the loop.

In [ ]:
# break statement
i = 0
count = 0
while (i < 5):
    a = int(input()) # explicit conversion string -> int
    if a < 3:
        count=count+1;
        print ("wrong input",count,"times")
    else:
        print ("ok")
    if count == 3:
        print ("limit exceeded")
        break
    i = i + 1

 # break and continue can only be used with loop, and not with if etc.

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue  # Skip the rest of the loop for i = 3
    print("Iteration:", i)

# List
* It is a sequence data type which is used to store the collection of data.
* It is mutable and duplicates are allowed.
* It is enclosed in [ ] and separated by commas.

In [ ]:
L=[2,8,6,4,7]
print(L[4])
print(L[-4])
U=[]
n=int(input("enter length of list"))
for i in range(n):
    ele=int(input("enter element:"))
    U.append(ele)
print(U)

7
8
[1, 2, 3, 4, 5]

In [ ]:
L.sort()
print(L)
L.sort(reverse=True)
print(L)

[2, 4, 6, 7, 8]
[8, 7, 6, 4, 2]

# Tuple
* It is a collection data type
* It is immutable and duplicates allowed
* Elements are enclosed in parenthesis

In [ ]:
fruits=("apple","banana","cherry")
l=[1,2,3,4]
t=tuple(l)
print(t)
for i in range(0,len(t)):
    print(t[i],end=",")

(1, 2, 3, 4)
1,2,3,4,

# Dictionary
* stores the value in value:key pairs.
* Syntax: dict_var = {key1 : value1, key2 : value2, â€¦..}
* Values can be changed but the keys are immutable

In [ ]:
L=[82,94,88,65]
marks={"chemistry":94,"Physics":67,"Maths":84,"Cs":97}
print(marks)
marks["Physics"]=76
print(marks)

{'chemistry': 94, 'Physics': 67, 'Maths': 84, 'Cs': 97}
{'chemistry': 94, 'Physics': 76, 'Maths': 84, 'Cs': 97}

Slicing

In [ ]:
#Syntax:variable_name[start:stop:end]
t=(1,2,3,4,5)
s="This is a string"
l=[1,2,3,4,5,6,7,8,9]
print(t[0:4])
print(s[8:14:2])
print(l[::-1])
print(t[::-1])

(1, 2, 3, 4)
asr
[9, 8, 7, 6, 5, 4, 3, 2, 1]
(5, 4, 3, 2, 1)
4

# Lambda

In [ ]:
#syntax
#lambda arguments : expression
x = lambda a : a + 10
print(x(5))
x = lambda a, b, c : a + b + c
print(x(5, 6, 2))

15
13

# Enum
* A way to create named constant values that are members of an ordered set.
* Enum members are accessed using the dot notation

In [ ]:
from enum import Enum
class Color(Enum):# Define an enumeration class
    RED=1
    GREEN=2
    BLUE=3

#print(Color.RED)# Accessing enum members
print(Color.RED.value) # Accessing enum values

Color.RED
1

# Inheritance
* It is the capability of one class to derive or inherit the properties from another class.
* It allows us to add more features to a class without modifying it.

In [ ]:
#Syntax
#class BaseClass:
#    {Body}
#class DerivedClass(BaseClass):
#    {Body}

In [ ]:

class Person():# parent class
  def __init__(self, x,y):
    self.name = x
    self.age = y

  def display(self):
    print(self.name, self.age)

class Student(Person):# child class
  def __init__(self, name, age):
    self.sName = name
    self.sAge = age
    super().__init__("Rahul", age)# inheriting the properties of parent class

  def displayInfo(self):
    print(self.sName, self.sAge)

obj = Student("Mayank", 23)
obj.display()
obj.displayInfo()

Rahul 23
Mayank 23

# File Handling

# CSV Files
* A CSV file stores tabular data (numbers and text) in plain text.
* Each line of the file is a data record
* Each record consists of one or more fields, separated by commas.

In [ ]:
import csv
f=open("student.csv",'r')#opens file in read mode
csv_reader=csv.reader(f)
for row in csv_reader:
  print(row)
f.close()

In [ ]:
import csv
fields=['Name','Class','Year','Percent']
rows=[['Shaurya','XI','2004','82'],['Rohit','XII','2003','92'],['Prerna','XI','2004','85'],['Deep','XII','200.','79']]
filename="marks.csv"
with open(filename,'w',newline='') as f:
  csv_w=csv.writer(f,delimiter=",")
  csv_w.writerow(fields)
  for i in rows:
    csv_w.writerow(i)
  print("File created")

File created

In [ ]:
import json
x='{"name":"John", "age":30, "city":"New York"}'# some JSON:

y = json.loads(x)# parse x:
# the result is a Python dictionary:
print(y["age"])

In [ ]:
import json
#a Python object (dict):
x = {"name": "John","age": 30,"city": "New York"}

y=json.dumps(x)# convert into JSON:

print(y)# the result is a JSON string:

# Exception Handling

In [ ]:
result=10/0
print(result)

ZeroDivisionError: division by zero

In [ ]:
try:
    # Code that might raise an exception
    result = 10 / 0
except ZeroDivisionError:#Handle the specific exception
    print("Cannot divide by zero.")

Cannot divide by zero.

In [ ]:
try:
    result = 10 / 0
except Exception as e:
    print("An error occurred:",e)# Handle the exception and print its details

An error occurred: division by zero